html{
  font-size: 15px;
}
.bienvenidos{
  background: url("../images/computer-cup-desk-434337.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  }


 .navbar-brand{
  font-size: 2rem;
 }



.polaroid{
  width: 40%;
  margin-bottom: 25px;
  position: center;
  vertical-align: 50%;
  color: #fbc52c;
}

.polaroid div{
  text-align: center;
  padding: 10px 20px;
  background-color: #333333;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.aboutme{
  background: #ffffff;
  min-height: 100vh;
  text-align: right;
  color: #333333;
  
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin: 2.5rem;
  }
  .text p {
    margin-right: 2rem;
    font-size: 1.25rem;
  }
}
// .skills{
//   color: #EDEDED;
// }

// Botones - ver proyecto y ver demo
.btn-primary {
  color: #212529;
  background-color: #6bb8ff;
  border-color: #6bb8ff;
}

.btn-warning {
  color: #212529;
  background-color: #fbc52c;
  border-color: #fbc52c;
}


.proyects {
 padding: 4rem;
  h1{
    margin: 2rem;
  }
}



// foto kalu
.figure{
  width: 50%
}

.text-about{
  font-display: initial
}

.user-proyects{
  margin-top: 5rem;
}

.foot {
  margin-top: 5rem;
}

.footer h1{
  text-align: right;
  color: #333333;
  margin: 2.5rem;
  h1, .h1 {
    font-size: 2.5rem;
    }
}
